@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,800,900");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #006699;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

textarea,
button {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 5px;
}

.form-container {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.form-head,
.cta button {
  background-color: #006699;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 6px 6px 6px 15px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
}

.form-body-container {
  padding: 15px 5px 15px 15px;
}

.fbc-heading {
  font-weight: bold;
  color: #006699;
}

.fbc-body {
  padding-left: 16px;
  line-height: 30px;
}

.fbc-body-elt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.binary-input, .text-inputs-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

.binary-input {
  display: block;
}

.binary-input button, .text-input button, .search-elt button, .st-line button {
  font-size: 16px;
  height: 40px;
}

.binary-input input[type="text"], .binary-input input[type="email"], .binary-input select, .text-input input[type="text"], .text-input input[type="email"], .text-input select, .search-elt input[type="text"], .search-elt input[type="email"], .search-elt select, .st-line input[type="text"], .st-line input[type="email"], .st-line select {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  height: 40px;
  padding: 5px;
}

.search-elt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-elt label {
  margin-right: 15px;
}

.search-elt button {
  margin-left: 15px;
}

.text-inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 13px;
}

.binary-input-subgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 26px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bis-input {
  margin-right: 15px;
}

.text-inputs-group2, .text-inputs-group, .telephone-block {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
}

.text-input-label {
  margin-bottom: 3px;
}

.text-input-label.marked span::after {
  content: "*";
  color: red;
}

.text-input.plate input {
  width: 90px;
}

.text-input .currency {
  margin-right: 5px;
}

.text-input select {
  width: 100%;
}

.vehicle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vehicle-block-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
  padding-bottom: 9px;
}

.vehicle-block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-inputs-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.text-inputs-group .text-input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-inputs-group .text-input-label span {
  padding-right: 15px;
}

.jeff {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-elt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-elt span, .search-elt input, .search-elt button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.telephone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.telephone-block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telephone-block-body .text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telephone-block-body .text-input span {
  margin: 0 10px;
}

.telephone-block-body .text-input .telephone-number-field input, .telephone-block-body .text-input .telephone-extension input {
  width: 53px;
}

.telephone-block-body > div:first-child {
  margin-bottom: 10px;
}

.telephone-block-body .telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.telephone-block-body .telephone .text-input-label {
  width: 102px;
}

.telephone-block-body .telephone .text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 48px;
}

.telephone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.special-instructions .text-inputs-group2 {
  margin-right: 10px;
}

.special-instructions .text-inputs-group2 textarea {
  width: 100%;
}

.special-instructions .symbols-tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.st-line input {
  width: 45px;
  text-align: center;
}

.binary-inputs-group2, .text-input3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.binary-inputs-group2 .fbc-body-elt, .text-input3 .fbc-body-elt {
  margin-right: 15px;
}

.text-input3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-input3 .text-input-label {
  margin-right: 30px;
}

.text-input3 .text-input {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-right: 10px;
  width: 70%;
}

.text-input3 textarea {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
